// Highlight Color - buttons, headings
$base-color1: #fec544;

//hero subheading, social icons, review short quotes, review job titles, about copy, skills copy, resume years and desc, contact input text and copy
$base-color2: #a9adb8;
// $base-color2: #d9deeb;

//nav links, hero name, reviewer names, skills headlines and skill names, resume headings, resume job titles, resume degree, contact headlines
$base-color3: #fdfeff;

//social media borders, resume decorative vertical lines, contact form border
$base-color4: #232935;
//$base-color4: #32411c;

// Dark Color
//secondary headings (not really seen)
$dark-color1: #151b29;

//bgcolor of: review, skills, resume, contact - navbar also changes to this color 
$dark-color2: #070d1b;
//$dark-color2: #0b1b07;

//bg color of: about, portfolio, footer - primary navbar color before scroll
$dark-color3: #0a101e;
//$dark-color3: #0e2a12;

//social media bars, bgcolor of review bubbles, resume bullets (unhighlighted), bgcolor of form inputs
$dark-color4: #101624;
//$dark-color4: #102410;

//social media icon borders, header underlines (partially), form placeholder text
$dark-color5: #3f4551;

//Word Balloon
$word-balloon1: #3f4551;
